footer{
    background-color: darkred;
    width: 100vw;
    /*height: 8vh;*/
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-items: center;
}
.datosDiseñador p{
    font-family: 'Amatic SC', Impact, sans-serif; 
    font-size:medium; 
    color: honeydew;
    text-align: center;
}