header{
    background-color: rgb(26, 26, 26);
    width: 100%;
    display: grid; 
    grid-template-columns: 20% 80%;
    align-items: center;
    & .logotipo{
        //background-color: blueviolet;
        background-image: radial-gradient(#B3541E 5%, #A13333 60%, #040303);
        display: flex;
        justify-content: center;
        & .imgLogo{
            width: 65%;
            height: 65%;
        }
    }
    & .barraNav{
        background-color: #040303;  
        & .listaBarraNav{
            //background-color: aquamarine;
            height: 20vh;
            display: grid;
            grid-template-columns: 15% 15% 15% 15% 15% 15%;
            column-gap: 5px;
            justify-content: space-evenly;   
            align-items: center;
            & .itemBarraNav{
                //background-color: rgb(26, 26, 26);
                padding: 5px;
                list-style: none;
                font-family: 'Amatic SC', Impact, sans-serif;
                font-size: xx-large;
                text-align: center;
                & a{  
                    color: honeydew; 
                    text-decoration: none;
                }
                &:hover{
                    transform: scale(1.5) translateY(2px);
                    transition: 0.5s; 
                    & .resalte:active{
                    color: #950101;
                    }
                }   
            }
        }
    }
}





