
main{
    /*background-color: yellowgreen;*/
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
main .fondoMain{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    z-index: -1;
}
$color1: #040303;
$color2: #461111;
$color3: #A13333;
$color4: #B3541E;

//INDEX
.institucional{
    /*background-color: dodgerblue;*/
    height: 100%;
    margin: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.texto{
    width: 80%;
    margin: 5px;
    padding: 5px;
    font-family: 'Loved by the King', cursive;
    font-size: x-large;
    color: honeydew;
    border-radius: 5px;
    align-items: center;
}
.texto--institucional{
    @extend .texto;
    background-color: $color2;
}

.videoInstitucional{
    /* background-color:goldenrod;*/
    display: flex;
    justify-content: center;
}
.videoInstitucional iframe{
    width: 90%;
}
main h2{
    background-color: rgb(26, 26, 26);
    font-family: 'Amatic SC', Impact, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    color: honeydew; 
    width: 100%;  
    text-align: center;
}
.alumno{
    /*background-color: cadetblue;*/
    display: grid;
    grid-template-columns: 40% 60% ;
    justify-items: center;
}
.texto--alumno{
    @extend .texto;
    background-color: $color3;
}


.alumno img{
    /*width: 80%;
    height: 80%;*/
    border: solid rgb(26, 26, 26) 1px;
    border-radius: 50%;
}
//NOSOTROS
.nosotros{
    /*background-color: blueviolet;*/
    display: flex;
    justify-content: space-evenly;
}
.ubicacion iframe{
    width: 100%;
}
//GALERIA
.galeria{
    /*background-color: rgb(1, 47, 63);*/
    width: 100vw;
    height: 200vh;
    display: grid;
    gap: 5px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img4 img5 img5 img6"
    "img7 img5 img5 img6"
    "img8 img8 img9 img9"
    "img10 img11 img11 img12"
    ;
}
.img1{
    grid-area: img1;
    background-image: url(../imagenes/01.jpg);
    background-size: cover;
}
.img2{
    grid-area: img2;
    background-image: url(../imagenes/07.jpg);
    background-size: cover;
    
}
.img3{
    grid-area: img3;
    background-image: url(../imagenes/25.jpg);
    background-size: cover;
}
.img4{
    grid-area: img4;
    background-image: url(../imagenes/12.jpg);
    background-size: cover;
}
.img5{
    grid-area: img5;
    background-image: url(../imagenes/26.jpg);
    background-size: cover;

}
.img6{
    background-image: url(../imagenes/21.jpg);
    grid-area: img6; 
    background-size: cover;   
}
.img7{
    background-image: url(../imagenes/15.jpg);
    grid-area: img7;
    background-size: cover;
}
.img8{
    background-image: url(../imagenes/17.jpg);
    grid-area: img8;
    background-size: cover;
}
.img9{
    background-image: url(../imagenes/19.jpg);
    grid-area: img9;
    background-size: cover;
}
.img10{
    background-image: url(../imagenes/03.jpg);
    grid-area: img10;
    background-size: cover;
}
.img11{
    background-image: url(../imagenes/04.jpg);
    grid-area: img11;
    background-size: cover;
}
.img12{
    background-image: url(../imagenes/14.jpg);
    grid-area: img12;
    background-size: cover;
}
.juver:hover{
    transform: rotate(2deg) scale(1.2);
    transition: 0.3s;
}
.insumos{
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.productos{
    /*background-color: blueviolet;*/
    /*margin: 5px;*/
    width: 80%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    }
/*.itemProducto{
    background-color: rgb(26, 26, 26);
    list-style: none;
    font-family: 'Amatic SC', Impact, sans-serif;
    color: honeydew;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}*/

.insumoImg{
    width: 80px;
}

//CONTACTO
.btn-primary{
    background-color:#950101;
}
//NOVEDADES
.novedades{
    display: flex;
    justify-content: space-around;
}

$articulos: (
    prod1: #040303,
    prod2: #461111,
    prod3: #950101,
    prod4: #A13333,
    prod5: #B3541E
);
@each $prod, $colores in $articulos {
    .itemProducto-#{$prod}{
        background-color: $colores;
        list-style: none;
        font-family: 'Amatic SC', Impact, sans-serif;
        color: honeydew;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
    }
}